<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>ER Bot</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->    
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/botui/build/botui.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/botui/build/botui-theme-default.css" />-->

    <!-- required for basic layout -->
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/botui.min.css') }}" />

    <!-- default theme - you can create your own theme -->
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/botui-theme-custom.css') }}" />


    <style>
        .botui-container {
        	background-color: #ffffff;
        	border: 0px solid #e1e1ff;
        }
        .botui-app-container {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            padding: 0;
        }

        .glyphicon.glyphicon-play {
		    font-size: 20px;
		    color: #33cc33;
		}

		.glyphicon.glyphicon-play-circle {
		    font-size: 20px;
		    color: #33cc33;
		}

		.glyphicon.glyphicon-stop {
		    font-size: 20px;
		    color: #ff5555;
		}

		.glyphicon.glyphicon-pause {
		    font-size: 20px;
		    color: #ff5555;
		}

		.glyphicon.glyphicon-pencil {
		    font-size: 15px;
		}

		.glyphicon.glyphicon-pencil:hover {
		    font-size: 15px;
		    color: #007bff;
		}

		.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
		.navbar {min-height:32px !important}

		body::after{
		    position:absolute; 
		    width:0; 
		    height:0; 
		    overflow:hidden; 
		    z-index:-1;
		}

		a.list-group-item {
			color: #555;
		}

		a.list-group-item:hover {
			z-index: 2;
		    color: #fff;
		    background-color: #007bff;
		    border-color: #007bff;
		}

		a.list-group-item.selected {
          z-index: 2;
          color: #fff;
          background-color: #ff7b00;
          border-color: #ff7b00;
      	}
		
		.botui-actions-buttons-button {
			color: #222;
			background-color: #dddddd;
		}

		.botui-actions-buttons-button:hover {
			color: #fff;
			background-color: #007bff;
		}

.botui-actions-buttons-button {
		background: #ffffff;
		border: 1.5px solid #E57F00; 
		border-radius: 4px;
		color: #E57F00;
		font-family: Arial;
		font-size:  18 pt;

		}

		.botui-actions-buttons-button:hover {
				background: #E57F00;
				border: 1.5px solid #E57F00; 
				border-radius: 4px;
				color: #ffffff;
				font-family: Arial;
				font-size: 18 pt;

		}
		.botui-message-content {
			background: #E8E8E8;
			border-radius: 5px;	
			font-family: Arial;
			color: #000000;
			font-size: 18 pt;
		}
		.botui-message-content.human {
			background: #2D60C3;
			border-radius: 5px;	
			font-family:  Arial;
			font-size: 18 pt;
			color: #ffffff;
		  }

		  .h4{
		  	margin-top: 100px;
		  	font-family: Arial;
		  	font-size: 18px;
		  	color: #000000;
		  }
		  button {
				background: #F2F2F2;
				border: 0.5px solid #B7B7B7; 
				border-radius: 4px;
				color: #00000;
				font-family: Arial;
				font-size:  18 pt;
				padding: 5px 10px;
		  }
		  p{
		  	font-family: Arial;
			font-size:  14px;
			color: #000000;
			margin: 0 0 0;
		  }

		  /*Menu/First Row*/
		  .bgcolor {
		  	background-color: #F2F2F2;
		  	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
		  	
		  }
		   /* padding */

		  .classWithPad{
		  	padding-left: 60px;
			padding-top: 5px;
			min-height: 70px;
			height: 70px;

		  }
		  /* combo box */
		  select {
		  		background: #ffffff;
		  		height: 20px;
				border: 1px solid #727272; 
				border-radius: 2px;
				color: #434343;
				font-family: Arial;
				font-size:  14px;
		  }

		  label {

		    display: inline-block;
		    color: #434343;
		    font-family: Arial;
		    font-weight: normal;
		  }

		  /* SLider */
		  input[type=range] {
		  	-webkit-appearance: none;
		    width: 97%;
		    height: 5px;
		    border-radius: 5px;   
		    background: #d3d3d3;
		    outline: none;
		    opacity: 0.7;
		    margin-right: auto;
		    margin-left: auto;

		    }	
		    
		    input[type=range]:hover {
			 opacity: 1;
			}

			input[type=range]::-webkit-slider-thumb {
			    -webkit-appearance: none;
			    appearance: none;
			    width: 20px;
			    height: 20px;
			    border-radius: 50%;
			    background: #C4C4C4;
			    cursor: pointer;

			}

			input[type=range]::-moz-range-thumb {
			    width: 25px;
			    height: 25px;
			    border-radius: 50%;
			    background: #4CAF50;
			    cursor: pointer;
			}

			.fixed-top {
			    position: fixed;
			    top: 0;
			    right: 0;
			    left: 0;
			    z-index: 1030;
			}

			body {
			  min-height: 75rem;
			  padding-top: 6.0rem;
			}
        
    </style>

    <script>
    	var dialogue_position = 0;
    	var dialogue = [ 
    					/*Hello*/ 	 { text: {en: "Hello, my name is Harbor. I am part of your emergency care team. To provide you better care I'd like to ask you a few questions."}, 
    					          	   type: "Skip", delay: 10500 },

    					          	   /*{ text: {en: "Did you know that feeling stressed makes it harder to stay healthy?"}, 
    					          	   type: "Skip", delay: 4000 },

    				 				  { text: {en: " My job is to find ways to reduce stress in your life so you can recover faster and stay healthy."}, 
    				 				  type: "Skip", delay: 5500 },*/

    				 				  { text: {en: "Remember your answers are confidential."}, 
    				 				  type: "Skip", delay: 4000 },



    				 	/*FINANCIAL STRESS, EMPLOYMENT*/
    				 				  
    				 				  { text: {en: "Let's start by talking a bit about monthly bills. Do you have enough money to pay for the very basics like food, housing and medical care?"}, 
    				 				  type: "Yes/No" },
    				 				    				 				  
    				 				  { text: {en: "Do you have any unpaid bills or large debts building up and causing you stress?"}, 
    				 				  type: "Yes/No" },

    				 	/*checklist- add 4 more*/

    				 				  { text: {en: "Okay, how is your work situation? Do you want help finding work or keeping a job?"}, 
    				 				  type: "Options", 
    								  options: [ 
    				 				  {value: "Opt_1", text : "Yes, help finding work" },
    				 				  {value: "Opt_2", text : "Yes, help keeping a job" },
    				 				  {value: "Opt_3", text : "I do not need or want help"} 
    				 				  ]}, 

				                      { text: {en: "Got it."}, 
				                      type: "Skip", delay: 2000 },

				        /*EDUCATION, TRAINING*/
    				 				  { text: {en: "Are you interested in starting or completing job training, a high school diploma or G E D?"},
    				 				   type: "Yes/No" }, 


				                      { text: {en: " Good to know. Do problems getting childcare make it difficult for you to work or study?"}, 
				                      type: "Yes/No" }, 

				                      { text: {en: "Okay—I'm getting a better idea of where you are at."}, 
				                      type: "Skip", delay: 3200 },

				        /*HOUSING*/
    				 				  { text: {en: "Please tell me, what is your housing situation today?"},
    				 				  
    				 				    type: "Options", 
    								  options: [ 
    				 				  {value: "Opt_1", text : "I have housing" },
    				 				  {value: "Opt_2", text : "I have a place to live today but I am worried about losing it in the future." },
    				 				  {value: "Opt_3", text : "I do not have a steady place to live."} 
    				 				  ]},

    				 				  { text: {en: "Thinking about the place you live, do you have problems with any of the following? (check all that apply)."},
    				 				  
    				 				    type: "Options-multiple", 
    								  options: [ 
    				 				  	{value: "Opt_1", text : "Pests such as bugs, ants, mice" },
    				 				  	{value: "Opt_2", text : "Mold" },
    				 				  	{value: "Opt_3", text : "Lead paint or pipes" }, 
    				 				  	{value: "Opt_4", text : "Lack of healthy" }, 
    				 				  	{value: "Opt_5", text : "Oven or stove not working" }, 
    				 				  	{value: "Opt_6", text : "Smoke detectors missing or not working"},
    				 				  	{value: "Opt_7", text : "Water leaks" },
    				 				  	{value: "Opt_8", text : "Satisfactory conditions" } 
    				 				  ]},  

    				 				  { text: {en: "In the past year has the electric, gas, oil, or water company threatened to shut off services in your home?" },
    				 				   type: "Yes/No" },

    				 	/*INCOME, BURDEN*/	
    				 				   { text: {en: "It would be helpful to get some details." },
    				 				   type: "Skip", delay: 4000 },

    				 				   { text: {en: "What is your best estimate of how much money you and your household members earned altogether last month? (Before taxes and deductions)..." },
                                        type: "Skip", delay: 8000 },

                                       { text: {en:"...include money earned from all jobs and businesses (hourly wages, salaries, tips etc.) Type your answer.", },
    				 				    type: "Input" },


                                      { text: {en: "Got it."}, 
                                     	type: "Skip", delay: 2000 },

                         /*write in, decline options*/
    				 				    
    				 				    { text: {en: "Including yourself, how many people are you supporting using your monthly income?" },
   										type: "Options", 
    								    options: [ 
    				 				  	{value: "Opt_1", text : "Less than 4 people" },
    				 				  	{value: "Opt_2", text : "4-6 people" },
    				 				  	{value: "Opt_3", text : "7-9 people" }, 
    				 				  	{value: "Opt_4", text : "More than 9 people" } 
    				 				  	]}, 
    				 	/*FOOD SECURITY*/				  	 
    				 					{ text: {en: "In the past year did you ever worry food would run out before you got money to buy more?" }, 
    				 				  type: "Options", 
    								    options: [ 
    				 				  	{value: "Opt_1", text : "often true" },
    				 				  	{value: "Opt_2", text : "sometimes true" },
    				 				  	{value: "Opt_3", text : "Never true" }  
    				 				  	]}, 
 							/*true*/
    				 				 { text: {en: "That must be stressful— I'll remember to connect you to resources for help with that." },
    				 				 type: "Skip", delay: 5000 },


    				 				 { text: {en: "Next, I wonder if you are getting the health care you need?"}, 
    				 				 type: "Skip", delay: 3500 },

    				 	/*ACCESS TO HEALTHCARE*/
    				 				  { text: {en: "In the last 12 months was anyone in the family unable to get the medical care, tests or treatments they needed or a doctor recommended?" }, 
    				 				  type: "Yes/No" },

    				 				   { text: {en: "Did you skip medications in the last year to save money?"}, 
    				 				  type: "Yes/No" },

    				 				  { text: {en: "Do you have someone who can help you get healthcare (like getting medications or going with you to appointments?)"}, 
    				 				  type: "Yes/No" },

                                      { text: {en: "Has it been tough to get needed services because you do not have transportation?"}, 
                                      type: "Yes/No" },

    				 				  { text: {en: "Do you currently have any health care bills that are being paid off over time?"}, 
    				 				  type: "Yes/No" },

    				 				  { text: {en: "Are you currently covered by any of these types of health insurance?"}, 
    				 				  type: "Yes/No" },
						/*insert example or check list?*/

							/*PERSONAL SAFETY*/
    				 				  
    				 				  { text: {en: "I appreciate your answers so far!" }, 
    									type: "Skip", delay: 3000 },

    				 				  { text: {en: "The next questions are about your personal safety and may be tough to answer." }, 
    				 				  type: "Skip", delay: 4000 },

    				 				  { text: {en: "Remember my goal is to offer you resources for help, and that your answers are confidential" }, 
    				 				  type: "Skip", delay: 5000 },

    /*Add decline to answer*/	  	  { text: {en: "Do you currently feel unsafe?"}, 
  					    	  		  type: "Yes/No" },

    				 				  { text: {en: "Have you ever been slapped, kicked, hit or physically hurt by someone in the past year?"}, 
    				 				  type: "Yes/No" },

                                      { text: {en: "Have you ever tried to get help with this problem?"}, 
                                      type: "Yes/No" },

    				 				  { text: {en: "Are you currently in or have you ever been in an abusive relationship?"}, 
    				 				  type: "Yes/No" },

    				 				  { text: {en: "Have you ever been pressured or forced to have sex?"}, 
    				 				  type: "Yes/No" },

                                       { text: {en: "Have you ever tried to get help with this problem?"}, 
                                      type: "Yes/No" },

                                      { text: {en: "Thank you for your answers—I'm getting a better idea of your situation."}, 
                                      type: "Skip", delay: 3500 },


                                      { text: {en: "Do you have a concern that feels like an emergency right now? Do you feel in danger?"}, 
                                      type: "Yes/No" }, 

                                      { text: {en: "Your safety is most important. May I have your permission to share this information with your doctor to see if there is some way we can help you during your visit?"}, 
                                      type: "Yes/No" },

                                      { text: {en: "Okay. How safe do you feel where you live?..."}, 
                                      type: "Skip", delay: 4000 },

                                       { text: {en: "Are you afraid you might be hurt by violence in your neighborhood?"}, 
                                      type: "Yes/No" },

    				 				  { text: {en: "Did anything happen to you during the last 6 months, which you thought was a crime, but did not report to the police?"}, 
    				 				  type: "Yes/No" },

                                       { text: {en: "Do you have someone you can call in an emergency"}, 
                                      type: "Yes/No" },

                             /*if homeless?*/            { text: {en: "Do you live in a place where a gun is kept?"}, 
                                      type: "Options", 
                                        options: [ 
                                        {value: "Opt_1", text : "Yes" },
                                        {value: "Opt_2", text : "No" },
                                        {value: "Opt_3", text : "Decline to answer" }  
                                        ]}, 

    				 				  { text: {en: "Again, your safety is most important. May I have your permission to share this information with your doctor to see if there is some way we can help you during your visit?"}, 
    				 				  type: "Yes/No" },


    				 				  { text: {en: "We are almost at the end, when I will recommend resources for help based on your answers." },  
    									type: "Skip", delay: 5000 },

    								
                     /*RANDOM AREAS*/	
    								  { text: {en: "First, are there other areas where you may need help."},  
    									type: "Skip", delay: 3500 },

    								  { text: {en: "Would you like legal guidance or help with any of the following issues?"}, 
                                      type: "Options-multiple", 
                                        options: [ 
                                        {value: "Opt_1", text : "Immigration" },
                                        {value: "Opt_2", text : "Unpaid tickets" },
                                        {value: "Opt_3", text : "Eviction" }, 
                                        {value: "Opt_4", text : "Outstanding record" },
                                        {value: "Opt_5", text : "Clearing warrants" },
                                        {value: "Opt_6", text : "Clearing your record/expungement" },
                                        {value: "Opt_7", text : "Child custody" },
                                        {value: "Opt_8", text : "Child support" },
                                        {value: "Opt_9", text : "Getting an ID/birth certificate" },
                                        {value: "Opt_10", text : "Public Benefits (CalFresh/Food Stamps" },
                                        {value: "Opt_11", text : "SSI/Social Security, General Relief" },
                                        {value: "Opt_12", text : "CalWORKs,Medi-Cal, Medicare" }  
                                        ]},

                                        { text: {en: "How is your work situation? Which of the below best describes your employment status right now? "}, 
                                      type: "Options", 
                                      options: [ 
                                      {value: "Opt_1", text : "Working full time" },
                                      {value: "Opt_2", text : "Working part time" },
                                      {value: "Opt_3", text : "A seasonal worker" },
                                      {value: "Opt_4", text : "Laid off" },
                                      {value: "Opt_5", text : "On strike" },
                                      {value: "Opt_6", text : "On sick leave" },
                                      {value: "Opt_7", text : "Disabled" },
                                      {value: "Opt_8", text : "Maternity or paternity leave" }
                                      ]},

                                      

                                      { text: {en: "Do problems getting childcare make it difficult for you to work or attend school?"}, 
                                      type: "Yes/No" },  


                                      { text: {en: "Now I just need some basic info and we will be done!"},  
                                        type: "Skip", delay: 3000 },


    				 				  { text: {en: "What is your age? Type your answer."}, 
    				 				                  type: "Input" },

                                      { text: {en: "How many years of school have you completed? (Type your answer)"}, 
                                       type: "Input"},

                                      { text: {en: "How do you currenlty describe yourself?"}, 
                                      type: "Options", 
                                      options: [ 
                                      {value: "Opt_1", text : "Male" },
                                      {value: "Opt_2", text : "Female" },
                                      {value: "Opt_3", text : "Transgender" },
                                      {value: "Opt_4", text : "None of these" },
                                      {value: "Opt_5", text : "Skip this question" },
                                      {value: "Opt_6", text : "Don't know" }
                                      ]},

                                      { text: {en: "Done! Based on your answers, I'd like to share information and resources that may help you."}, 
                                      type: "Skip", delay: 6000 },


                                      { text: {en: "Would you like this information?"}, 
                                       type: "Yes/No" },


                                      { text: {en: "Okay great. Would you like to receive this information via:"}, 
                                      type: "Options-multiple", 
                                      options: [ 
                                      {value: "Opt_1", text : "paper print out" },
                                      {value: "Opt_2", text : "text" },
                                      {value: "Opt_3", text : "email" }
                                      ]},

                                      { text: {en: "Thank you for your time. If there is anything important that I missed, please tell your provider today."}, 
                                      type: "Skip", delay: 2000 },







    				];

    	$( document ).ready(function() {
	    	console.log( "ready!" );

		   var sel = document.getElementById('voices');
			for(var i = 0; i < azureVoices.length; i++) {
			    var opt = document.createElement('option');
			    opt.innerHTML = azureVoices[i].text;
			    opt.value = azureVoices[i].value;
			    sel.appendChild(opt);
			}

			var sel = document.getElementById('languages');
			for(var i = 0; i < languages.length; i++) {
			    var opt = document.createElement('option');
			    opt.innerHTML = languages[i];
			    opt.value = languages[i];
			    sel.appendChild(opt);
			}

			document.getElementById("speech_speed").value = 100.0;

	    	/* https://docs.botui.org/guide.html */
	    	botui = new BotUI('hello-world');

		    console.log("D1-text:"+dialogue[0]["text"]+", type:"+dialogue[0]["type"]);
		    console.log("D2-text:"+dialogue[1]["text"]+", type:"+dialogue[1]["type"]);

	  	});

	  	var botui;
	  	var languages = ['en', 'es'];
                var azureVoices = [ 
	  				{text:"Zira (en-us)", value:"Microsoft Server Speech Text to Speech Voice (en-US, ZiraRUS)"},
					{text:"Jessa (en-us)", value: "Microsoft Server Speech Text to Speech Voice (en-US, JessaRUS)"},
					{text:"Benjamin (en-su)", value: "Microsoft Server Speech Text to Speech Voice (en-US, BenjaminRUS)"},
					
					{text:"Laura (es-es)", value: "Microsoft Server Speech Text to Speech Voice (es-ES, Laura, Apollo)"},
					{text:"Helena (es-es)", value: "Microsoft Server Speech Text to Speech Voice (es-ES, HelenaRUS)"},
					{text:"Apollo (es-es)", value:"Microsoft Server Speech Text to Speech Voice (es-ES, Pablo, Apollo)"},
		];

	  	function getCurrentVoice() {
			var voice = "Microsoft Server Speech Text to Speech Voice (en-US, ZiraRUS)"
			//Try to get it from element
	  		var e = document.getElementById("voices");
			if (e) {
				voice = e.options[e.selectedIndex].value;
			} else {
				console.log("Using default voice");
			}

			return voice;
		}

		function getSpeechSpeed() {
			var speech_speed = 100;
			var e = document.getElementById("speech_speed");
			if (e) {
				speech_speed = e.value;
			} else {
				console.log("No speech speed elem, defaulting to: "+speech_speed);
			}

			return speech_speed;
		}

        function stopAudio(id) {
        	console.log("Audio stopped for id:"+id)
		    $('#play_'+id).removeClass('glyphicon-pause')
	        $('#play_'+id).addClass('glyphicon-play-circle')
		}

	  	/*function play(id){
       		console.log("Playing for id:"+id)
       		var audio = document.getElementById('audio_'+id);
	        if (audio.paused) {
	            audio.play();
	            $('#play_'+id).removeClass('glyphicon-play-circle')
	            $('#play_'+id).addClass('glyphicon-pause')
	        } else{
	            audio.pause();
	            audio.currentTime = 0
	            $('#play_'+id).addClass('glyphicon-play-circle')
	            $('#play_'+id).removeClass('glyphicon-pause')
	        }

	        audio.addEventListener('ended', function(){ stopAudio(id); });
        }*/

        function playElem(audio_file, id){
       		console.log("Playing for elem:"+id);
       		var audio = document.getElementById('audio_'+id);

	        if (audio.paused) {
	        	audio.src = audio_file; //"./static/audio/text.wav";
	            audio.play();
	            $('#play_'+id).removeClass('glyphicon-play-circle')
	            $('#play_'+id).addClass('glyphicon-pause')
	        } else{
	            audio.pause();
	            audio.currentTime = 0
	            $('#play_'+id).addClass('glyphicon-play-circle')
	            $('#play_'+id).removeClass('glyphicon-pause')
	        }

	        audio.addEventListener('ended', function(){ stopAudio(id); });
        }

        function downloadPlay(message, id){
        	console.log("Running downloadPlay with message:"+message)
		 	
		 	if (message) {
 				voice = getCurrentVoice();
				console.log("Current voice:"+voice);

				var re = /[A-Za-z0-9_-]+(?=,)/g;
				var myArray = voice.match(re);
				var lang = myArray[0];
				console.log("Lang:"+lang);

				speech_speed = getSpeechSpeed();//document.getElementById("speech_speed").value;
				speed_reduction = 100.00 - speech_speed
				console.log("Speed reduction:"+speed_reduction)

				var request = $.ajax({
			        url: "/ttsRequest",
			        type: "GET",
			        data: {text: message, voice: voice, lang: lang, speed_reduction: speed_reduction},
			        dataType: "html",
			        async: true, 
			        success : function (msg)
			        {
			          	console.log("Called TTS successfully!")
			          	var obj = JSON.parse(msg);

			          	console.log("Audio file from TTS in HTML: "+obj.audio_file);

				      	playElem(obj.audio_file, id);
			        }
			    });

			}
        }

	  	function restartDialogue() {
	    	console.log("Restarting the dialogue...");
	    	  
	    	dialogue_position = 0;
	    	//botui.message.removeAll();
	    	progressDialogue();

	    	var e = document.getElementById("start_button");
	    	if (e) {
	    		e.style.display = "none";
	    	}

	  	}

	  	function progressDialogue(delay = 0) {
	  		console.log("Progressing dialogue, current position: "+dialogue_position)
	  		var e = document.getElementById("languages");
			var lang = e.options[e.selectedIndex].value;
			console.log("Language selected:"+lang);
			console.log("Voice selected: "+getCurrentVoice());

	  		if (dialogue_position > dialogue.length) {
	  			console.log("Dialogue ended!");
	  			return;
	  		}

	  		msg_spec = {};
	  		msg_spec['content'] = dialogue[dialogue_position]['text'][lang];
	  		msg_spec['delay'] = delay * (100.0/getSpeechSpeed());
	  	
	  		botui.message.add(msg_spec).then(function (index) {
	  			addPlay(msg_spec['content']);

	  			switch (dialogue[dialogue_position]['type']) {
	  				case "Skip":
	  					console.log("Auto progress message...")
	  					msg_delay = dialogue[dialogue_position]['delay'];
	  					console.log("delay:"+msg_delay);
	  					dialogue_position += 1;
	  					progressDialogue(msg_delay);

	  					break;
	  					
	  				case "Yes/No":
	  					console.log("Yes/No type of response...")
	  					botui.action.button({
	  						action: [
						    { // show only one button
						    	text: 'Yes',
						      	value: 'Yes'
						    },
						    {
						    	text: 'No',
						      	value: 'No'
						    }
						  ]
						}).then(function (res) { // will be called when a button is clicked.
							console.log("Got value from Yes/No:" + res.value); // will print "one" from 'value'
							dialogue_position += 1;
							progressDialogue();
						});
						break;
					case "Input":
	  					console.log("Input type of response...")
	  					botui.action.text({
	  						action: [
						    { // show only one button
						    	placeholder: 'Enter your salary here'
						    }
						  ]
						}).then(function (res) { // will be called when a button is clicked.
							console.log("Got value from Inout:" + res.value); // will print "one" from 'value'
							dialogue_position += 1;
							progressDialogue();
						});
						break;
					case "Options":
	  					console.log("Options type of response...")
	  					botui.action.button({
	  						action: dialogue[dialogue_position]["options"]
						}).then(function (res) { // will be called when a button is clicked.
							console.log("Got value from Options:" + res.value); // will print "one" from 'value'
							dialogue_position += 1;
							progressDialogue();
						});
						break;
					case "Options-multiple":
	  					console.log("Options type of response...")
	  					botui.action.select({
	  						action: {
	  							placeholder : "Select option",
	  							value: [],//[dialogue[dialogue_position]["options"][0]],
	  							searchselect : false,
	  							multipleselect : true,
	  							options: dialogue[dialogue_position]["options"],
	  							button: {
						    		icon: 'check',
						    		label: 'OK'
						    	}
						    }
						}).then(function (res) { // will be called when a button is clicked.
							console.log("Got value from Options:" + res.value); // will print "one" from 'value'
							dialogue_position += 1;
							progressDialogue();
						});
						break;
					default:
						console.log("Unknown message type!!!");

	  			}
	  		});
	  	}

	  	function addPlay(message) {
	  		console.log("Adding play with message:"+message)

	  		var elems = document.getElementsByClassName('botui-message-content');
	      	var i = 0;
	      	console.log("Elems:"+elems.length);
	      	//for (i = 0; i < elems.length; i++) {
	      	if (elems.length>0) {
      			var i = elems.length -1;

	      		console.log("el:"+i);

	      		var audio_tag = document.createElement("audio");
				audio_tag.id = "audio_"+i;

	      		var element = document.createElement("div");
	      		element.classList.add("glyphicon");
  				element.classList.add("glyphicon-play-circle");
  				element.classList.add("b-play");
  				element.id = "play_"+i;
  				element.style.width="40px";
  				//element.style.height="50px";
  				element.style.margin="auto";
  				element.onclick = function() {downloadPlay(message,i)};
				
	      		//elems[i].style.backgroundColor = "red";
	      		/*<div style='margin:auto; width: 100%' class='glyphicon glyphicon-play-circle b-play' id='' onclick='play()'></div>*/
	      		elems[i].appendChild(audio_tag);
	      		elems[i].appendChild(document.createTextNode( '\u00A0' ));
	      		elems[i].appendChild(element);

  				downloadPlay(message,i);
  			}

		 	/*
		 	if (message) {
 				voice = getCurrentVoice();
				console.log("Current voice:"+voice);

				var re = /[A-Za-z0-9_-]+(?=,)/g;
				var myArray = voice.match(re);
				var lang = myArray[0];
				console.log("Lang:"+lang);

				speech_speed = document.getElementById("speech_speed").value;
				speed_reduction = 100.00 - speech_speed
				console.log("Speed reduction:"+speed_reduction)

	      		var request = $.ajax({
			        url: "/ttsRequest",
			        type: "GET",
			        data: {text: message, voice: voice, lang: lang, speed_reduction: speed_reduction},
			        dataType: "html",
			        async: true, 
			        success : function (msg)
			        {
			          	console.log("Called TTS successfully!")
			          	var obj = JSON.parse(msg);

			          	console.log("Audio file from TTS in HTML: "+obj.audio_file);

			          	var elems = document.getElementsByClassName('botui-message-content');
				      	var i = 0;
				      	console.log("Elems:"+elems.length);
				      	//for (i = 0; i < elems.length; i++) {
				      	if (elems.length>0) {
			      			var i = elems.length -1;

				      		console.log("el:"+i);

				          	var audio_tag = document.createElement("audio");
				      		audio_tag.id = "audio_"+i;
				      		audio_tag.src = obj.audio_file; //"./static/audio/text.wav";

				      		var element = document.createElement("div");
				      		element.classList.add("glyphicon");
			  				element.classList.add("glyphicon-play-circle");
			  				element.classList.add("b-play");
			  				element.id = "play_"+i;
			  				element.style.width="40px";
			  				//element.style.height="50px";
			  				element.style.margin="auto";
			  				element.onclick = function() {play(i)};
		  				
				      		//elems[i].style.backgroundColor = "red";
				      		//<div style='margin:auto; width: 100%' class='glyphicon glyphicon-play-circle b-//play' id='' onclick='play()'></div>
				      		elems[i].appendChild(audio_tag);
				      		elems[i].appendChild(document.createElement("&nbsp;"));
				      		elems[i].appendChild(element);

		      				play(i);
		      			}
			        }
			    });
			}*/

	  	}

    </script>

  </head>
  <body>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!--- Top row/menu bar -->
    <nav class="navbar fixed-top bgcolor">
      <!--<div class="row bgcolor" >-->
        <div class="col-sm-3 "> </div>       
        <div class="col-sm-6">          
	          <image src="./static/images/bot-selected.png"  align=left style="padding-top:10px; height:62px; width: 50px;" > </image>
	          <div class="classWithPad">
		          <h4>Harbor</h4>
		          <p>Your chatbot to help you find resources</p>
		      </div>
	    </div>
		<div class="col-sm-3"></div>		 	
      <!--</div>-->
    </nav>

    <div class="container-fluid">

      
	
      <!--- Remaining elements -->
      <div class="row">
        <div class="col-sm-3">
        </div>

        <div class="col-sm-6 text-center">
          <br />
          <select id="languages">
          </select> 

          <select id="voices">
          </select> 
          <br />
       	<br />

          <span>Speaking speed:</span><input type="range" id="speech_speed" min="70" max="100">
          <br />

          <button id="start_button" type="button" class="btn btn-primary" onclick="return restartDialogue();">Talk to Harbor</button>
          <div class="botui-app-container text-left" id="hello-world" style="border: 0px solid black">
            <bot-ui></bot-ui>
          </div>
        </div>
        <div class="col-sm-3">
        	<div id="activity"></div>
        
        </div>
      </div>
      
    </div> <!-- /container -->

    <!--- SCRIPTS AND STUFFF -->

    <!-- Vue - BotUI requires Vue to be present in page -->
	<script src="https://cdn.jsdelivr.net/vue/latest/vue.min.js"></script>
	<!-- BotUI - main file -->
	<script src="{{ url_for('static', filename='scripts/botui.min.js') }}"></script>

  </body>
</html>
